<h1>Comments#new</h1>
<%= form_for(@comment, url: proposal_comments_path(@proposal)) do |f| %>
  <p>
  	<%= f.label :body %>
  	<%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>