<% if session[:user_id] %>
  <%= link_to 'Log out', session_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>

<h1>User Show</h1>

<p>
  Full Name: <%= @user.first_name + " " + @user.last_name %>  	
</p>

<p>
  Email: <%= @user.email %>  	
</p>




