<h1>Proposals</h1>

<%= link_to 'New Proposal', new_proposal_path %>

<% @proposals.each do |proposal| %>
  <p>
    <%= link_to proposal.title, proposal_path(proposal) %>
    <%= User.find(proposal.user_id).username %>
  </p>

<% end %>

