.proposals-div{
      position: relative;
      background-color: #F2F9FC;
      border: 1px solid #ddd;
      border-radius: 3px;
      width: 70%;
      margin-left: 15%;
      margin-right: 10%;
      margin-top: 3%;
    }
    .proposal-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .proposal-list-item:first-of-type {
      padding-top: 0;
    }

    .proposal-list-item:last-of-type {
      border-bottom: none;
    }
    .proposal {
      width: 100%;
    }
    .proposal-details {
      /*margin: 0 0 2em 0;*/
      padding: 0;
      border-bottom: 1px solid #ddd;
    }
    .proposal-title {
      /*margin: 0 0 .25em 0;*/
    }
    .proposal-detail-line {
      /*margin: 0 0 .25em 0;*/
    }
    .form-div {
      position: relative;
      background-color: #F2F9FC;
      border: 1px solid #ddd;
      border-radius: 3px;
      width: 70%;
      margin-left: 15%;
      margin-right: 10%;
      /*overflow: auto;*/
      /*margin: 0 10%;*/
    }

    .container{
      /*  display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;*/
        /*width: 100%;*/
        /*min-height: 30vh;*/ /*when partial, get rid of this*/
      }

      .form-subject {
        position: relative;
        font-size: 150%;
        width: 100%;
        margin-bottom: 5%;
        /*background-color: #f2f2f2*/
      }

      .form-text {
        position: relative;
        font-size: 150%;
        height: 300px;
        width: 100%;
        /*background-color: #f2f2f2*/

      }
      .proposal-submit-button{
        float: right;

        padding: 2px 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        border-radius: 3px;
        background-color: #73CE53;
        border-color: #5ca941;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
      }

      .form {
        margin: 5%;
      }

      .new-issue-form {
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
      }

      #logo{
        position: absolute;
        left: 6%;

      }

      #rabbit{
        background-color: #F2F9FC;
        height: 55px;
        width: 66px;
      }


      .navbar {
        background-color: #F2F9FC;
        border-color: #e7e7e7;
        position: relative;
        height: 55px;
        margin-bottom: 20px;
        border: 1px solid transparent;
      }

      .container-fluid {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
      }

      .navbar-nav {
          /*margin: 7.5px -15px;*/
      }
      .nav {
          padding-right: 490px;
          margin: 17px -15px;
          list-style: none;
          font-size: 13px;
      }

      .navbar-nav  ul{
          display: inline-block;
      }

      .navbar-nav li {
        display: inline-block;
      }

      .navbar-header {
        display: flex;
        justify-content: space-between;
        /*margin-right: -15px;
        margin-left: -15px;*/
      }
      .form-select {
        background-color: #34495E;
        display: inline-block;
        max-width: 100%;
        height: 34px;
        color: white;

        background-size: 8px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
        .prop-page-h2{
          margin-top: 0.1px;
        }
        .comment-form{
          position: relative;
          background-color: #F2F9FC;
          border: 1px solid #ddd;
          border-radius: 3px;
          width: 70%;
          margin-left: 15%;
          margin-right: 10%;
        }
        .prop-h1{
          text-align: center;
          color: #002266;
          text-shadow: 2px 2px 4px #D0D3D4;
          font-family: Impact, Charcoal, sans-serif;
        }
        .nav-labhub{
          font-family: Impact, Charcoal, sans-serif;
        }
